<ion-view view-title="Akademik">
  <ion-content>
    <ion-list>
     <ion-item menu-close ng-click="mahasiswa()">
          Mahasiswa
     </ion-item>
     <ion-item menu-close ng-click="dosen()">
          Dosen
     </ion-item>
     <ion-item menu-close ng-click="matakuliah()">
          Mata Kuliah
     </ion-item>
     <ion-item menu-close ng-click="prodi()">
          Prodi
     </ion-item>
     <ion-item menu-close ng-click="jurusan()">
          Jurusan
     </ion-item>
     <ion-item menu-close ng-click="nilai()">
          Nilai
     </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
